<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <main aria-label="Content">
      <div class="wrapper home-page">
        <div class="main-img">empty</div>
        <div class="main-content">
            <h1 class="main-title">
             <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
            </h1>
            <p>Hello! I study Math and Computer Science at Berkeley.
                You may know me as a CS 170 TA, CSM 70 co-coordinator, or web dev UPE officer.</p>
            
            <nav class="site-nav">
              {% assign default_paths = site.pages | where_exp: "item", "item.hide_link != true" | map: "path" %}
              {% assign page_paths = site.header_pages | default: default_paths %}
              {% include nav.html %}
            </nav>
        </div>
      </div>
    </main>

    {% comment %}
    {% include footer.html %}
    {% endcomment %}

  </body>

</html>
